<style>
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
</style>

:root {
    --bg-color: pink;
    --primary-color: #C4D7FF;
    --secondary-color: #FFD7C4;
    --font: "Fredoka", Edu Austraria VIC                                    
}
